@model FA.JustBlog.Core.Models.Post

<h1>@Model.Title</h1>
<h4>@Model.ShortDescription</h4>
<p>Posted @Model.PostedOn with rate @Model.Rate.ToString("0.0") by @Model.RateCount view(s)</p>
<br />
<p>@Model.PostContent</p>